body {
    margin: 0;
    padding-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;     
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    padding: 40px;
    background-color: rgb(185, 146, 230);
    box-shadow: 0 20px 40px rgba(64, 5, 113, 0.35);

}

.main {
    color: #8a2be2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.section1 {
    margin-bottom: 8px;
}

.image {
    width: 320px;
    padding: 12px 16px;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9fafb;
}

.section2 {
    margin-bottom: 10px;
}

.title {
    width: 320px;
    padding: 12px 16px;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9fafb;
}

.section3 {
    margin-bottom: 20px;
}

.description {
    width: 320px;
    padding: 12px 16px;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9fafb;

}

.create {
    background-color: #8a2be2;
    color: #e5e7eb;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.create:hover {
    background-color: #de40e3;

}

.list {
    background-color: #8a2be2;
    color: #e5e7eb;
    padding: 10px 26px;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px; 
}

.list:hover {
    background-color: #de40e3;

}

.post-icon {
    width: 120px;        
    height: auto; 
}