.title {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.image {
    width: 320px;
    padding: 12px 16px;
    border: 2px solid #e5e7eb;
    border-radius: 12px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9fafb;
    display: flex;
}